name: dbt CI

on:
  pull_request:
    branches: [main]

jobs:
  dbt-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dbt
        run: |
          pip install dbt-snowflake
          dbt deps

      - name: Run dbt build (CI)
      run: | 
        dbt build \
        --profiles-dir profiles \
        --profile stars_hwdi \
        --target dev
